/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	/* max-width: 1440px; */
	margin:auto;
	font-family: 'Work Sans';
	font-size: 14px;
	align-items: center;
	display: flex;
	flex-direction: column;
}
header {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
}

main {
	max-width: 950px;
	width: 100%;
}

footer {
	width: 90%;
}

img {
	object-fit: cover;
}

#footer-login {
  position: absolute;
  bottom: 0;
}

.editBanner {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
	background-color: black;
	margin: 0px;
	height: 60px;
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: white;
}

.editBannerElement {
	margin-top: auto;
	margin-bottom: auto;
}

#edit-banner {
	display: flex;
}

.editBannerElement img {
	margin-right: 9px;
}

.publishBtn {
	border-radius: 60px;
	background-color: white;
	height: 40px;
	width: auto;
	padding-left: 25px;
	padding-right: 25px;
	margin-left: 20px;
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
}

#title_nav {
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
	max-width: 1140px;
	width: 100%;
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
a {
	text-decoration: none;
	color: black;
}
nav li a{
	padding: 0 20px;
	font-size: 16px;
	font-weight: 400;
	display: flex;
}

nav img {
	width: 20px;
}

li:hover a{
	font-weight: 700;
}
#introduction {
	display: flex;
	align-items: center;
	margin-bottom: 2em;
	/* justify-content: end; */
}
#introduction figure {
	flex: 1;
	justify-content: flex-start;
	display: flex;
	flex-direction: column;
}
#introduction .sophieImg {
	display: block;
	/* margin: auto; */
	width: 100%;
	/* margin-right: -45px; */
}

#introduction article {
	flex: 1;
	/* justify-content: end; */
	display: flex;
	flex-direction: column;
	/* padding-left: 169px; */
	/* margin-left: 151px; */
}
#introduction h2 {
	margin-bottom: 1em;
	justify-content: end;
	/* display: flex; */
	margin-left: 72px;
}

#introduction p {
	margin-bottom: 0.5em;
	/* width: 404px; */
	/* display: flex; */
	margin-left: 71px;
	/* justify-content: flex-end; */
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 51px;
}
#categories {
	text-align: center;
	margin-bottom: 51px;
}
.button-filter {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 16px;
	background-color: white;
	color: #1D6154;
	border: 1px solid #1D6154;
	border-radius: 60px;
	margin-right: 10px;
	min-width: 100px;
	padding-bottom: 9px;
	padding-top: 9px;
}
.button-filter:hover {
	background-color: #1D6154;
	color: white;
}
#gallery {
	width: 100%;
	justify-content: center;
	display: grid;
	grid-template-columns: 0fr 0fr 0fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

#gallery img {
	width: 304px;
	height: 405px;
}

figcaption {
	font-size: 13px;
}

#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	line-height: 20px;
	width: 180px;
	text-align: center;
	border-radius: 60px;
	border-style: none;
	height: 40px;

}

input[type="submit"]:hover {
	cursor: pointer;
	background-color: white;
	color: #1D6154;
	border-style: solid;
	border-color: #1D6154;

}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}
/* Log In Form */
#login {
width: 380px;
margin: auto;
margin-top: 150px;
}
#login > * {
	text-align: center;

}
#login h2{
	margin-bottom: 20px;
}
#login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#login label {
	margin: 2em 0 1em 0;
}

.link {
	display: flex;
	justify-content: center;
	text-decoration: underline;

}

#logout {
	cursor: pointer;
}

.edit {
	border: none;
	background-color: white;
	font-size: 14px;
	font-family: Work Sans;
}

#edit-intro {
	margin-top: 10px;
	display: flex;
}

#edit-works {
	display: flex;
	margin-bottom: 51px;
	margin-left: 30px;
}

.portfolio-edit {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 140px;
}
#modal {
  width: 630px;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  padding: unset;
}

#modal-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#modal-gallery figure {
	width: 77px;
	height: 102px;
	margin-bottom: 20px;
	margin-right: 3.5px;
	margin-left: 3.5px;
}

#modal-gallery .gallery-img {
	height: 100%;
	width: 100%;
}

#modal-cross {
 	display: flex;
 	justify-content: flex-end;
 	margin: 30px;
  width: 90%;
}

#modal-gallery figcaption {
	display: none;
}

#modal-gallery {
	display: flex;
  flex-wrap: wrap;
  width: 420px;
  margin-right: auto;
  margin-left: auto;
}

h3 {
	font-size: 26px;
	font-weight: 400;
	margin-bottom: 46px;
	display: flex;
	justify-content: center;
	text-align: center;
}


.trash-button {
	position: relative;
	bottom: 99%;
   left: 73%;
	background: black;
	color: white;
	border: 4px solid black;
	cursor: pointer;
}

#clear {
  border: none;
  background: none;
	color: red;
	margin-bottom: 2em;
} 

#cross {
	border: none;
   background-color: white;
}

#headerForm {
  display: flex;
  justify-content: space-between;
  margin: 30px;
  width: 91%;
}

/*modal2*/
.container {
	display: flex;
	flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  width: 420px;
}

#addWorkForm {
	display: flex;
	flex-direction: column;
}

#arrow-left {
	height: 14px;
}

#dropzone {
	background-color: #E8F1F6;
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 420px;
	height: 169px;
	align-items: center;
}

#sharp {
	width: fit-content;
}

#addWorkForm select, .addWorkTitle {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

label {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
}

#imageInput {
	display: none;
}

#addWorkForm label {
  margin: 2em 0 1em 0;
}

.addImgLabel {
	display: flex;
	width: 50%;
	background-color: #CBD6DC;
	border-radius: 50px;
	height: 40px;
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	justify-content: center;
	align-items: center;
	color: #306685;
}

.hrLineAddWorkForm {
	width: 100%;
	margin-top: 47px;
	background-color: #B3B3B3;
	border: 1px solid #B3B3B3;
}

#image {
	width: 129px;
	height: 169px;
}